html {
    background-color: #ddd;
    color: black;
    margin: 0;
    font-family: 'Fira Mono';
}

ul, li {
    list-style-type: none;
}

input {
    font-family: 'Fira Mono';
    border: 2px inset white;
}

button {
    padding-left: 2px;
    padding-right: 2px;
    font-family: 'Fira Mono';
    font-weight: bold;
    border: 2px outset white;
    color: #555;
}

.raised {
    border: 2px outset white;
}

.lowered {
    border: 2px inset white;
}

#container {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

section {
    height: 80%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.read-only {
    opacity: 0.6;
    pointer-events: none;
    tab-index: -1;
}

#image-section {
    display: flex;
    flex-direction: row;
}

#branch-section {
    width: 100px;
}

#branch-switcher {
    width: 100%;
    display: flex;
    flex-direction: column;
}

#branch-list {
    display: none;
}

#branch-list > .branch {
    overflow: hidden;
    text-overflow: ellipsis;
    cursor: default;
}

#branch-list > .branch:hover {
    background-color: #aaf;
}

#branch-list > .branch:active {
    background-color: #88a;
}

#branch-switcher:hover > #branch-list {
    display: flex;
    flex-direction: column;
}

#branch-switcher > * {
    text-align: left;
}

#version-list {
    width: 100%;
    overflow-y: scroll;
}

#version-list > li {
    cursor: default;
    color: gray;
    padding: 2px;
}

#version-list > li:hover {
    background-color: #ccc;
    color: black;
    border: 2px outset white;
}

#version-list > li:hover::after {
    content: " ⎇";
}

#version-list > li:active {
    background-color: #bbb;
}

#me > input {
    width: 100px;
    font-weight: bold;
}

#me > input:hover, #me > input:focus {
    background-color: #eee;
}

#color-selector {
    width: 20px;
    margin-left: 4px;
    cursor: pointer;
}

#color-selector:hover {
    background-color: white;
}

#text-section {
    width: 200px;
    height: 300px;
    color: #666;
    cursor: text;
    outline: 0;
    white-space: pre-wrap;
    word-wrap: break-word;
    overflow-y: scroll;
    overflow-x: scroll;
    resize: both;
}

#text-section:hover, #text-section:focus {
    background-color: #eee;
    border-color: red;
}

.cursor {
    color: white;
    background-color: black;
    /* animation: cursor-blink 1s infinite; */
    /* animation-timing-function: steps(1, end); */
}

.cursor-popup {
    display: none;
    font-weight: bold;
}

#cursor:hover > .cursor-popup{
    display: inline;
}

#upstream-drawer {
    margin: 3px;
    padding: 2px;
}

#upstream-section.closed > #upstream-drawer {
    display: none;
}

#upstream-section.open > #upstream-drawer {
    display: block;
}

.upstream {
    margin-bottom: 3px;
    display: flex;
    align-items: center;
    color: #555;
}

.upstream-name {
    width: 70px;
    font-weight: bold;
    overflow: hidden;
    text-overflow: ellipsis;
}

.upstream-url > input{
    width: 150px;
    margin-left: 2px;
}

#upstream-section button.active {
    color: green;
    border: 2px inset white;
    animation: active-pulse 3s infinite;
}

@keyframes active-pulse {
    0% { color: black; background-color: #eee; }
    50% { color: #f00; background-color: #cfd; }
    100% { color: black; background-color: #eee; }
}

@keyframes cursor-blink {
    0% { color: white; background-color: black; }
    50% { color: black; background-color: white; }
}
